<p>Duties</p>
<ul>
	<li>Maintain and continue development of a automated testing system for Adobe LiveCycle GuideBuilder(an extension of Eclipse). The framework was a
	combination of Borland SilkTest and an in house Python screen capturing tool.</li>
	<li>Develop an automation testing system to run tests against finished Adobe LiveCycle Flash guides in a web browser to ensure flow and functionality</li>
</ul>