extends layout

block css
    link(rel='stylesheet', href='/stylesheets/index.css')

block javascripts
    script(src="//use.typekit.net/hwn7dnm.js")
    script.
        try{Typekit.load();}catch(e){}

block content
    .content
        .header
            h1.name-title
                span.name calvin
                span.occupation {software developer}

            .avatar
                img(src='/images/avatar.png')

        .detail
            p.desktop-only
                span.whats-up What's up lately?
                span.answer   Doing some full stack web dev in Ottawa :)
            .icon-bar
                a.one(href='http://github.com/calvinwiebe')
                    img(src='/images/github.svg')
                a.two(href='http://twitter.com/calvinwiebe')
                    img(src='/images/twitter.svg')
                a.three(href='http://ca.linkedin.com/in/calvinwiebe/en')
                    img(src='/images/linkedin.svg')
                a.four(href='mailto:calvin.wiebe@gmail.com')
                    img(src='/images/send.svg')

        //- Style and add this at some point
        //- .footer
        //-     div Icons made by
        //-         a(href="http://www.google.com" title="Google") Google
        //-         from
        //-         a(href="http://www.flaticon.com" title="Flaticon") flaticon
        //-         is licensed by
        //-         a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0


