extends layout

block css
    link(rel='stylesheet', href='/stylesheets/index.css')

block javascripts
    script(src="//use.typekit.net/hwn7dnm.js")
    script.
        try{Typekit.load();}catch(e){}

block content
    .content
        .top
            .blurb
                .crush
                    span.bold crush
                    span.light code
                .drink
                    span.bold drink
                    span.light coffee
                .enjoy
                    span.bold enjoy
                    span.light beer
                .always
                    span.bold alwys
                    span.light <3
            .avatar
                img(src='/images/avatar.png')
        .bottom
            .email
                a.hoverable.mailto(href='mailto:calvin.wiebe@gmail.com')
                    | calvin.wiebe@gmail.com
            .icon-bar
                a.hoverable.linkedin(href='http://ca.linkedin.com/in/calvinwiebe/en')
                    img(src='/images/linkedin.svg')
                a.hoverable.twitter(href='http://twitter.com/calvinwiebe')
                    img(src='/images/twitter.svg')
                a.hoverable.github(href='http://github.com/calvinwiebe')
                    img(src='/images/github.svg')
