<div id="intro-outer">
<script type="text/javascript" src="javascripts/intro.js"></script>
<section id="intro" class="blurb-header">
	<div id="intro-inner">
		<div id="intro-aside">O hai! Thanks for checkin' me out.</div>
	</div>
	<div id="intro-canvas-outer">
		<canvas id="intro-canvas"></canvas>
	</div>
</section>
<div id="browser-disclaimer">*only Google Chrome, Mozilla Firefox, and IE9 supported currently, sorry.</div>
</div>
