<div id="intro-outer">
<script type="text/javascript" src="http://localhost:3000/javascripts/intro.js"></script>
<section id="intro">
	<canvas id="intro-canvas" width="500px" height="150px;"></canvas>
</section>
</div>
