<div id="intro-outer">
<script type="text/javascript" src="http://calvinwie.be/javascripts/intro.js"></script>
<link href="http://localhost:3000/stylesheets/z-all.css" media="screen" rel="stylesheet" type="text/css">
<section id="intro" class="blurb-header">
	<div id="intro-inner">
		<div id="intro-aside">O hai! Thanks for checkin' me out.</div>
	</div>
	<div id="intro-canvas-outer">
		<canvas id="intro-canvas"></canvas>
	</div>
</section>
<div id="browser-disclaimer">*only Google Chrome and Mozilla Firefox supported currently, sorry.</div>
</div>
