/*

Global

*/


body, html {
    font-family: fira-sans, Helvetica;
    text-align: center;
}


/*

Layout

*/

.content {
    width: 520px;
    margin: 0 auto;
    margin-top: 150px;
}

.blurb {
    text-align: left;
    float: left;
    width: 50%;
}

.blurb .crush .light {
    padding-left: 1px;
}

.blurb .drink .light {
    padding-left: 5px;
}

.blurb .enjoy .light {
    padding-left: 1px;
}

.avatar {
    float: left;
    width: 50%;
}

.avatar img {
    padding-top: 5px;
}

.email {
    margin-top: 20px;
    text-align: left;
    float: left;
    width: 70%;
}

.icon-bar {
    margin-top: 20px;
    float: left;
    width: 30%;
}

/* distribute icons evely horizontally
   suppose to be a nice way to do it with `justify` and
   an ::after element. It is not working...
*/
.icon-bar a {
    margin-right: 10px;
}

.icon-bar a.github {
    margin-right: 0px;
}

.icon-bar img {
    height: 32px;
}

/*@media screen and (max-width: 768px) {

    body {
        padding: 0px;
        margin: 0px;
    }

    .desktop-only {
        display: none;
    }

    .content {
        width: 400px;
    }

}*/

@media screen and (max-width: 560px) {

    body, html {
        padding: 0;
    }

    .content {
        width: 100%;
        text-align: center;
    }

    .avatar {
        position: absolute;
        top: 10px;
        width: 100%;
    }

    .blurb {
        position: absolute;
        top: 200px;
        width: 100%;
        text-align: center;
    }

    .email {
        position: absolute;
        top: 370px;
        width: 100%;
        text-align: center;
    }

    .icon-bar {
        position: absolute;
        top: 420px;
        float: none;
        width: 100%;
        text-align: center;
        width: 100%;
    }

    .icon-bar a {
        margin-right: 50px;
    }

}

/*

Style

*/

.top {
    font-size: 48px;
    color: #000000;
    line-height: 44px;
}

.bold {
    font-weight: 700;
    letter-spacing: 2.69px;
}

.light {
    font-weight: 100;
}

.blurb .always .light {
    color: #E96262
}

.email a {
    font-weight: 100;
    font-size: 24px;
    color: #4A4A4A;
    text-decoration: none;
}

.hoverable:hover {
    opacity: .6;
}

/*@media screen and (max-width: 768px) {

    .name-title {
        font-size: 36px;
    }

}
*/
@media screen and (max-width: 560px) {

    .name-title {
        font-size: 20px;
    }

}
