/*
 * Main Application Layout styles
 */
header, footer, aside, nav, article {
    display: block;
}

html,body {
    //background-color: #f7f7ee;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    background: none;
	background-color: transparent;
    color: black;
}

/**
 * header
 */
#heading-stuff {
    height: 150px;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    background-color: black;
}

#heading-bar-outer {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: table;
    position: relative;
    vertical-align: text-bottom;
    padding-top: 70px;
}
#header-strip{
	width: 100%;
	height: 25px;
	background-color: #B5D1EA;
}
#heading-name {
    font-size: 20px;
    font-family: Courier;
    color: #808080;
    width: 600px;
    display: table-cell;
    text-align: left;
    height: 100%;
	letter-spacing:-2px;
}
#heading-name h1 {
		font-weight: normal;
}
#heading-name a{
	text-decoration: none;
}
#heading-name a:hover{
	background: none;
}
#portfolio-items {
    display: table-cell;
    width: 700px;
    height: 100%;
    text-align: right;
}

#portfolio-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.white{
	color: white;
}
.emphasized-name-letter {
    font-weight: strong;
}

#portfolio-items li {
    display: inline;
}

#portfolio-items ul li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

#portfolio-items a:hover {
    text-decoration: none;
    color: gray;
    background: none;
}

/*
 * main content
 */
#page{
	width: 100%;
	min-height:100%;
	margin-bottom: -100px;
	position: relative;
}
#content {
    text-align: center;
    width: 100%;
	/*min-height: 100%;
    margin-bottom: -100px;
    position: relative;*/
}
#clearfooter{
	height: 100px;
   clear: both;
}
#content-inner {
    text-align: left;
    width: 1000px;
	padding-top: 100px;
	padding-bottom: 150px;
    margin: 0 auto;
}

#content-topic {
    width: 100%;
    text-align: left;
    display: table;
}

/*
 * Footer
 */
#footer-stuff {
    height: 100px;
    width: 100%;
    text-align: center;
	position: relative;
	vertical-align: top;
}
#footer-stuff nav ul li{
	margin-right: 20px;
}
#footer-bar-outer {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    display: table;
}

#footer-bar-outer nav {
    height: 100%;
    display table-cell;
    width: 700px;
}

#footer-bar-outer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

#footer-bar-outer ul li {
    display: inline;
    height: 100px;
}

#footer-bar-outer a {
    font-size: 16px;
}

#footer-aside {
    display: table-cell;
    width: 300px;
    text-align: right;
}

/*
 * about
 */
#about-content{
}
#about-blurb{
	margin: 0 auto;
}
#about-blurb-aside{
	width: 500px;
	float: right;
}
#about-blurb-blurb{
	float: left;
	width: 500px;
}
.about-blurb-text{
	background-color: #ebebd3;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox 3.6 and earlier */
    -webkit-border-radius: 10px; /* Safari */
	padding: 25px;
}
.about-blurb-text p{
	font-size: 15px;
}
.about-blurb-text header{
	font-size: 20px;
	margin-bottom: 10px;
	color: #707034;
}
.about-text-spacer{
	height: 10px;
}

.about-header{
	padding-left: 20px;
	font-size: 15px;
	color: #707034;
}
.about-text{
		padding-left: 25px;
}
.about-text p, ul li{
	font-size: 16px;
	margin-bottom: 10px;
}
.about-text a{
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	color: #808080;
}
.about-text a:hover{
	color: black;
}

#about-blurb-spacer{
	display: table-cell;
	width: 50px;
}
#about-blurb-aside {
    vertical-align: top;

}
#about-figure {
    margin: 0;
	padding: 0;
}


/*
 * info
 */
#info-outer {
    margin-top: 150px;
    text-align: center;
}

#info {
    padding: 20px;
    background-color: #e3e3c4;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox 3.6 and earlier */
    -webkit-border-radius: 10px; /* Safari */
}

#info ul {
	font-size: 20px;
    list-style: none;
    width: 600px;
    margin: 0 auto;
	padding: 0;
}
#info ul li{
	margin-bottom: 20px;
}

.qualification, .experience, .project {
    margin-top: 20px;
}
/*
 * intro
 */
#intro-outer {
    margin-top: 150px;
    text-align: center;
}

#intro {
    background-color: #e3e3c4;
    width: 550px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox 3.6 and earlier */
    -webkit-border-radius: 10px; /* Safari */
	vertical-align: text-top;
}
#intro span{
	height: 400px;
}

/*
 * education
 */
.education{
	margin-bottom:75px;
}
.qualification-certificate{
	font-size:20px;
	margin-bottom: 5px;
}
.qualification-school{
	font-size:14px;
	color:#808080;
}

/*
 * experience
 */
.experience{
	margin-bottom:75px;
}
.experience-title{
	font-size:20px;
	margin-bottom: 5px;
}
.experience-company{
	font-size:14px;
	color:#808080;
}

/*
 * projects
 */
.project{
	margin-bottom:75px;
}
.project-school{
	font-size:20px;
	margin-bottom: 5px;
}
.project-technologies{
	font-size:14px;
	color:#808080;
}
.project-description{
	margin-bottom: 5px;
}


/*
 * colors
 * 
 * section backgrounds: #e3e3c4
 */