<div id="info-outer">
<section id="info">
	<ul>
		<li>calvin.wiebe@gmail.com</li>
		<li>http://twitter.com/#!/calvinwiebe</li>
		<li>http://www.linkedin.com/pub/calvin-wiebe/1a/865/ab6</li>
	</ul>
</section>
</div>
